* text=auto

*.cs text eol=lf
*.json text eol=lf
*.md text eol=lf
*.meta text eol=lf
*.unity text eol=lf
*.prefab text eol=lf
*.asset text eol=lf
*.mat text eol=lf
*.shader text eol=lf
*.shadergraph text eol=lf
*.inputactions text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.psd binary
*.ttf binary
*.otf binary
